body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#00A884 0%, #00A884 127px, #eae6df 127px, #d1d7db 100%);
}
.container{
    display: grid;
    width: 83vw;
    height: 97vh;
    background-color: #ffffff;
    grid-template-areas: 
    "container-esquerdo container-direito";
    grid-template-columns: 480px 1fr;
}
.container-esquerdo{
    grid-area: container-esquerdo;
    background-color: #ffffff;
}
.container-direito{
    grid-area: container-direito;
    background-color: #efeae2;
}
/* .container-direito::before{
    background-image: url(../img/fundo-mensagens.png);
    position: absolute;
    content: "";
    opacity: 0.1;
    width: 1114px;
    height: 908px;
} */
.header-esquerdo{
    display: flex;
    width: 100%;
    height: 59px;
    background-color: #F0F2F5;
    justify-content: space-between;
    align-items: center;
}
.nav-perfil{
    display: flex;
    width: 190px;
    justify-content: space-around;
    margin-right: 16px;
}
.img-perfil{
    display: flex;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 16px;
    cursor: pointer;
}
.nav-perfil i{
    display: flex;
    font-size: 20px;
    color: #54656f;
    cursor: pointer;
}
.barra-pesquisa{
    display: flex;
    width: 100%;
    height: 49px;
    align-items: center;
    justify-content: space-evenly;
}
.caixa-pesquisa{
    width: 380px;
    border: none;
    outline: 0;
    background-color: #F0F2F5;
    height: 35px;
    border-radius: 8px;
    font-size: .9rem;
    padding-left: 64px;
    text-overflow: ellipsis;
}
.pesquisa i{
    position: absolute;
    color: #54656f;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 16px;
    cursor: pointer;
}
.filtro i{
    font-size: 20px;
    color: #54656f;
    cursor: pointer;
}
.container-mensagens{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.container-conversas{
    display: flex;
    padding: 14px;
    cursor:pointer;
    border: none;
    background-color: #ffffff;
}
.img-chat{
    width: 49px;
    height: 49px;
    border-radius: 50%;
}
.container-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #d1d7db;
    padding-bottom: 8px;
}
.container-perfil{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 8px;
}
.info-conversa{
    color: #3B4A54;
    font-size: 14px;
    text-overflow: ellipsis;
}
.hora{
    color: #667781;
    font-size: 14px;
}



/*Container da Direita*/

.header-direito {
    display: flex;
    width: 100%;
    height: 59px;
    justify-content: space-between;
    background-color: #F0F2F5;
    align-items: center;
    padding-right: 16px;
  }
  
  .nav-perfil-direito {
    display: flex;
    justify-content: space-around;
    margin-right: 16px;
    gap: 40px;
  }
  
  .nav-perfil-direito i {
    display: flex;
    font-size: 20px;
    color: #54656f;
    cursor: pointer;
  }
  
  .img-perfil-direito {
    display: flex;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 16px;
    cursor: pointer;
  }
  
  .perfil {
    display: flex;
    gap: 8px;
    padding-left: 8px;
  }
  
  .informacao-perfil {
    display: flex;
    flex-direction: column;
  }
  
  .nome {
    font-size: 1.3rem;
  }
  
  .on-off {
    font-size: 0.9rem;
  }
  
  .bolinha {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #01c92c;
    border: 0;
  }
  
  .chatBox {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
    overflow-y: auto;
  }
  
  .message {
    display: flex;
    width: 100%;
    margin: 5px 0;
  }
  
  .message p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background-color:#d9fdd3;
    border-radius: 10px;
    font-size: 0.9em;
  }
  
  /* .message p::before {
    content: "";
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #dfb877 0%, #dfb877 50%, transparent 50%, transparent 50%, )
  } */
  

  
  .my_message {
    justify-content: flex-end;
  }
  
  .frnd_message {
    justify-content: flex-start;
  }
  
  .frnd_message p {
    background-color: #fff;
    text-align: left;
  }
  
  /* .message.frnd_message p::before {
    content: "";
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #fff 0%, #fff 50%, transparent 50%, transparent 50%, )
  } */

  .chatBox_input{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #f4faf9;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .chatBox_input i{
    cursor: pointer;
    font-size: 1.2rem
  }
  .chatBox_input input{
    position: relative;
    width: 90%;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
  }

/* TABLET */
@media (max-width:960px){
    .container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
        "container-esquerdo";
        grid-template-columns: 1fr;
    }
    .container-direito{
        display: none;
    }
    .caixa-pesquisa{
        width: 80vw;
    }
}
/* MOBILE */
@media (max-width:640px){
  
}
/* .container__chats {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    gap: 16px;

}




.chats {
    display: flex;
    justify-content: space-evenly;
}

.nome__contato {
    gap: 4px;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis
}
.image__contato{
    position: fixed;
}
.container__contatos {
    display: flex;
    border-bottom: 1px solid #f0f2f5;
    gap: 20px;
}
.conversa{
    padding-bottom: 16px;
} */